
<h4>Template for 5-day forecast page:</h4>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for Rancho Cordova</h3>
    </div>
    <ul class="list-group">
      <!---->
      <li class="list-group-item">
        {{ day1 }}, {{ mon1 }} {{ date1 }}: Rain - Min: 45 - Max: 59

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/rain.png"
        />
      </li>
      <li class="list-group-item">
        {{ day2 }}, {{ mon2 }} {{ date2 }}: Rain - Min: 39 - Max: 52

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/sun.png"
        />
      </li>
      <li class="list-group-item">
        {{ day3 }}, {{ mon3 }} {{ date3 }}: Rain - Min: 36 - Max: 54

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/rain.png"
        />
      </li>
      <li class="list-group-item">
        {{ day4 }}, {{ mon4 }} {{ date4 }}: Clear - Min: 37 - Max: 56

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/clouds.png"
        />
      </li>
      <li class="list-group-item">
        {{ day5 }}, {{ mon5 }} {{ date5 }}: Clear - Min: 40 - Max: 57

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/snow.png"
        />
      </li>
    </ul>
  </div>
  <button class="btn btn-success" routerLink="/" tabindex="0" id="mainPageBtn">
    &lt; Back to main page
  </button>
</div>